In [2]:
import numpy as np
import pandas as ps
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [3]:
data = ps.read_csv("D:\diabetes.csv")
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1
1,1,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0
2,8,183.0,64.0,NaN,0.0,NaN,0.672,32.0,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0
4,0,137.0,40.0,35.0,168.0,NaN,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0
764,2,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0
766,1,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1
767,1,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   743 non-null    float64
 2   BloodPressure             766 non-null    float64
 3   SkinThickness             756 non-null    float64
 4   Insulin                   767 non-null    float64
 5   BMI                       763 non-null    float64
 6   DiabetesPedigreeFunction  764 non-null    float64
 7   Age                       283 non-null    float64
 8   Outcome                   768 non-null    int64
dtypes: float64(7), int64(2)
memory usage: 54.1 KB

In [5]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,743.000000,766.000000,756.000000,767.000000,763.000000,764.000000,283.000000,768.000000
mean,3.845052,121.189771,69.116188,20.736772,79.783572,31.982045,0.472374,33.646643,0.348958
std,3.369578,31.995161,19.378266,15.886961,115.318359,7.889147,0.331465,11.980283,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.500000,62.500000,0.000000,0.000000,27.300000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,29.000000,32.000000,0.374500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,127.500000,36.550000,0.626250,42.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,70.000000,1.000000

In [6]:
data.isnull().sum()

Pregnancies                   0
Glucose                      25
BloodPressure                 2
SkinThickness                12
Insulin                       1
BMI                           5
DiabetesPedigreeFunction      4
Age                         485
Outcome                       0
dtype: int64

In [7]:
data.drop(columns = ['Age'] , inplace = True)

In [8]:
data['SkinThickness'].fillna(data['SkinThickness'].median() , inplace = True)

C:\Users\FAIZ\AppData\Local\Temp\ipykernel_9188\1328610204.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['SkinThickness'].fillna(data['SkinThickness'].median() , inplace = True)

In [9]:
data['BMI'].fillna(data['BMI'].mean() , inplace = True)

C:\Users\FAIZ\AppData\Local\Temp\ipykernel_9188\3268073829.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['BMI'].fillna(data['BMI'].mean() , inplace = True)

In [10]:
data['BloodPressure'].fillna(data['BloodPressure'].mean() , inplace = True)

C:\Users\FAIZ\AppData\Local\Temp\ipykernel_9188\582386300.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['BloodPressure'].fillna(data['BloodPressure'].mean() , inplace = True)

In [11]:
data['Glucose'].fillna(data['Glucose'].median() , inplace = True)

C:\Users\FAIZ\AppData\Local\Temp\ipykernel_9188\1857512639.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Glucose'].fillna(data['Glucose'].median() , inplace = True)

In [12]:
data['DiabetesPedigreeFunction'].fillna(data['DiabetesPedigreeFunction'].median() , inplace = True)

C:\Users\FAIZ\AppData\Local\Temp\ipykernel_9188\303034008.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['DiabetesPedigreeFunction'].fillna(data['DiabetesPedigreeFunction'].median() , inplace = True)

In [13]:
data = data.dropna()

In [14]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome
0,6,148.0,72.0,35.0,0.0,33.600000,0.627,1
1,1,85.0,66.0,29.0,0.0,26.600000,0.351,0
2,8,183.0,64.0,23.0,0.0,31.982045,0.672,1
3,1,89.0,66.0,23.0,94.0,28.100000,0.167,0
4,0,137.0,40.0,35.0,168.0,31.982045,2.288,1
...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.900000,0.171,0
764,2,122.0,70.0,27.0,0.0,36.800000,0.340,0
765,5,121.0,72.0,23.0,112.0,26.200000,0.245,0
766,1,126.0,60.0,0.0,0.0,30.100000,0.349,1
767,1,93.0,70.0,31.0,0.0,30.400000,0.315,0

In [17]:
scale = MinMaxScaler()
data['SkinThickness'] = scale.fit_transform(data[['SkinThickness']])

C:\Users\FAIZ\AppData\Local\Temp\ipykernel_9188\2103389178.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['SkinThickness'] = scale.fit_transform(data[['SkinThickness']])

In [19]:
stand = StandardScaler()
data['BloodPressure'] = scale.fit_transform(data[['BloodPressure']])

C:\Users\FAIZ\AppData\Local\Temp\ipykernel_9188\3000772596.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['BloodPressure'] = scale.fit_transform(data[['BloodPressure']])

In [21]:
data['Glucose'] = np.log10(data['Glucose'])

D:\Anaconda\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
C:\Users\FAIZ\AppData\Local\Temp\ipykernel_9188\2791482764.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Glucose'] = np.log10(data['Glucose'])

In [22]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome
0,6,2.170262,0.590164,0.353535,0.0,33.600000,0.627,1
1,1,1.929419,0.540984,0.292929,0.0,26.600000,0.351,0
2,8,2.262451,0.524590,0.232323,0.0,31.982045,0.672,1
3,1,1.949390,0.540984,0.232323,94.0,28.100000,0.167,0
4,0,2.136721,0.327869,0.353535,168.0,31.982045,2.288,1
...,...,...,...,...,...,...,...,...
763,10,2.004321,0.622951,0.484848,180.0,32.900000,0.171,0
764,2,2.086360,0.573770,0.272727,0.0,36.800000,0.340,0
765,5,2.082785,0.590164,0.232323,112.0,26.200000,0.245,0
766,1,2.100371,0.491803,0.000000,0.0,30.100000,0.349,1
767,1,1.968483,0.573770,0.313131,0.0,30.400000,0.315,0

In [56]:
data.to_csv('cleaned_data.csv', index=False)
print('Cleaned dataset saved as cleaned_Diabetes_data.csv')

Cleaned dataset saved as cleaned_Diabetes_data.csv