In [2]:
import pandas as ps

In [3]:
data = ps.read_excel(r'D:\cleaned_data1.xlsx')
data

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70.0,1,4,130,322,0,2,109,0,2.4,2.0,3.0,3,Presence
1,67.0,0,3,115,564,0,2,160,0,1.6,2.0,0.0,7,Absence
2,57.0,1,2,124,261,0,0,141,0,0.3,1.0,0.0,7,Presence
3,64.0,1,4,128,263,0,0,105,1,0.2,2.0,1.0,7,Absence
4,74.0,0,2,120,269,0,2,121,1,0.2,1.0,1.0,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52.0,1,3,172,199,1,0,162,0,0.5,1.0,0.0,7,Absence
266,44.0,1,2,120,263,0,0,173,0,0.0,1.0,0.0,7,Absence
267,56.0,0,2,140,294,0,2,153,0,1.3,2.0,0.0,3,Absence
268,57.0,1,4,140,192,0,0,148,0,0.4,2.0,0.0,6,Absence
269,67.0,1,4,160,286,0,2,108,1,1.5,2.0,3.0,3,Presence

In [4]:
data.isnull().sum()

Age                        1
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                2
Number of vessels fluro    1
Thallium                   0
Heart Disease              0
dtype: int64

In [5]:
data['Slope of ST'].fillna(data['Slope of ST'].median() , inplace = True)

C:\Users\FAIZ\AppData\Local\Temp\ipykernel_1604\2449986355.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Slope of ST'].fillna(data['Slope of ST'].median() , inplace = True)

In [6]:
data['Number of vessels fluro'].fillna(method = 'ffill' , inplace = True)

C:\Users\FAIZ\AppData\Local\Temp\ipykernel_1604\3887181278.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Number of vessels fluro'].fillna(method = 'ffill' , inplace = True)
C:\Users\FAIZ\AppData\Local\Temp\ipykernel_1604\3887181278.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['Number of vessels fluro'].fillna(method = 'ffill' , inplace = True)

In [7]:
data = data.dropna()

In [13]:
data.dtypes

Age                        float64
Sex                          int64
Chest pain type              int64
BP                           int64
Cholesterol                  int64
FBS over 120                 int64
EKG results                  int64
Max HR                       int64
Exercise angina              int64
ST depression              float64
Slope of ST                float64
Number of vessels fluro    float64
Thallium                     int64
Heart Disease               object
dtype: object

In [14]:
data['Age'] = data['Age'].astype(int)

C:\Users\FAIZ\AppData\Local\Temp\ipykernel_1604\2794939974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Age'] = data['Age'].astype(int)

In [15]:
data.dtypes

Age                          int64
Sex                          int64
Chest pain type              int64
BP                           int64
Cholesterol                  int64
FBS over 120                 int64
EKG results                  int64
Max HR                       int64
Exercise angina              int64
ST depression              float64
Slope of ST                float64
Number of vessels fluro    float64
Thallium                     int64
Heart Disease               object
dtype: object

In [16]:
data

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2.0,3.0,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2.0,0.0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1.0,0.0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2.0,1.0,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1.0,1.0,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1.0,0.0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1.0,0.0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2.0,0.0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2.0,0.0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2.0,3.0,3,Presence