In [1]:
import pandas as ps
data = ps.read_csv(r'D:\Data Science\School_Attendance_by_Student_Group.csv')

In [2]:
data

,District code,District name,Category,Student group,2021-2022 student count - year to date,2021-2022 attendance rate - year to date,2020-2021 student count,2020-2021 attendance rate,2019-2020 student count,2019-2020 attendance rate,Reporting period,Date update
0,00000CT,Connecticut,NaN,All Students,500285,0.9169,496092.0,0.9294,508346.0,0.9479,June 2022,07/22/2022
1,00000CT,Connecticut,Homelessness,Students Experiencing Homelessness,1814,0.8348,1735.0,0.8155,3916.0,0.8884,June 2022,07/22/2022
2,00000CT,Connecticut,Students With Disabilities,Students With Disabilities,78417,0.8899,76487.0,0.8946,80365.0,0.9277,June 2022,07/22/2022
3,00000CT,Connecticut,Free/Reduced Lunch,Free Meal Eligible,168984,0.8851,176225.0,0.8861,193706.0,0.9314,June 2022,07/22/2022
4,00000CT,Connecticut,Free/Reduced Lunch,Reduced Price Meal Eligible,29905,0.9184,30886.0,0.9299,27507.0,0.9518,June 2022,07/22/2022
...,...,...,...,...,...,...,...,...,...,...,...,...
2014,9030022,The Woodstock Academy District,Free/Reduced Lunch,Free/Reduced Price Meal Eligible,23,0.8478,NaN,NaN,42.0,0.8943,June 2022,07/22/2022
2015,9030022,The Woodstock Academy District,Race/Ethnicity,All other races,86,0.9393,91.0,0.9650,126.0,0.9739,June 2022,07/22/2022
2016,9030022,The Woodstock Academy District,Race/Ethnicity,White,901,0.9288,899.0,0.9587,925.0,0.9437,June 2022,07/22/2022
2017,9030022,The Woodstock Academy District,High Needs,Students Without High Needs,949,0.9318,953.0,0.9617,1009.0,0.9516,June 2022,07/22/2022
2018,9030022,The Woodstock Academy District,High Needs,Students With High Needs,93,0.9041,79.0,0.9291,104.0,0.9034,June 2022,07/22/2022

In [ ]:
data['']